.card-list {
  @include outer-container(910px);
  margin-bottom: 50px;
  // overflow: auto;
  // white-space: nowrap;
}

.date-title {
  font-size: em(72);
  font-weight: bold;
  margin: 0 0 50px;
  text-align: center;
}

.card-list-item {
  display: inline-block;
  margin: 0 10px;
}

.card {
  color: #555;
  border-radius: 5px;
  overflow: hidden;
  height: 460px;
  width: 280px;
  margin: 10px 0;
  position: relative;
  background: #ccc;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  white-space: initial;
  cursor: pointer;

  &:hover {
    .card-wrapper {
      background: rgba($secondary, 0.25);
    }
  }

  .card-wrapper {
    background: rgba(darken($secondary, 5%), 0.4);
    height: 100%;
    @include transition(background 250ms $ease-out);
  }

  .card-content {
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    .card-label {
      margin-bottom: 30px;
      font-family: $heading-font;
      .name {
        font-size: em(40);
        line-height: 1em;
        font-weight: 400;
        margin-bottom: 8px;
        word-wrap: break-word;
        text-transform: capitalize;
      }
      .date {
        font-size: em(16);
        font-family: $body-font;
      }
    }
    .card-meta {
      font-size: em(16);
      font-family: $heading-font;
      .likes, .friends {
        float: left;
        margin-right: 20px;
      }
      i {
        margin-right: 1px;
        color: $primary;
      }
    }
  }
}