.card-list {
  @include outer-container($container-width);
  overflow: auto;
  white-space: nowrap;
}

.card-list-item {
  display: inline-block;
  margin-right: 20px;
}

.card {
  color: #555;
  border-radius: 5px;
  overflow: hidden;
  height: 480px;
  width: 320px;
  margin: 20px 0;
  position: relative;
  background: #ccc;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  white-space: initial;
  cursor: pointer;

  .card-wrapper {
    background: rgba(#192534, 0.3);
    height: 100%;
  }

  .card-content {
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    .card-label {
      margin-bottom: 30px;
      font-family: $heading-font;
      .name {
        font-size: em(36);
        line-height: 1em;
        font-weight: 400;
        margin-bottom: 8px;
      }
      .date {
        font-size: em(14);
        font-family: $body-font;
      }
    }
    .card-meta {
      font-size: em(16);
      font-family: $heading-font;
      .likes, .friends {
        float: left;
        margin-right: 30px;
      }
      i {
        margin-right: 3px;
      }
    }
  }
}

.event {

}

.event-header {
  background: #ccc;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 200px;
  .event-date {
    @include outer-container($container-width);
    font-size: em(32);
    color: #fff;
    font-weight: bold;
    font-family: $heading-font;
    text-align: center;
  }
}

.event-body {
  @include outer-container($container-width);
  padding: 30px 0;
}

.event-description {
  @include span-columns(8);
  @include shift(2);

  h1 {
    font-size: em(48);
  }
  p {
    font-size: em(18);
  }
}