.card-list
  .card-list-item{'ng-repeat' => 'card in cards'}

    .card{'ui-sref' => 'card({id: card.id})', style: "background-image: url(#{image_url('dummy.jpg')})"}
      .card-wrapper
        .card-content
          .card-label
            .name {{card.name}}
            .date
              {{card.date | date: 'd MMM yy'}}

          .card-meta
            .likes
              %i.fa.fa-heart-o
              25
            .friends
              %i.fa.fa-user
              6
