.event {

}

.event-header {
  background: #ccc;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 200px;
  .event-date {
    @include outer-container($container-width);
    font-size: em(32);
    color: #fff;
    font-weight: bold;
    font-family: $heading-font;
    text-align: center;
  }
}

.event-body {
  @include outer-container($container-width);
  padding: 30px 0;
}

.event-description {
  @include span-columns(8);
  @include shift(2);

  h1 {
    font-size: em(48);
  }
  p {
    font-size: em(18);
  }
}