.event-header{style: "background-image: url(#{image_url(@event.cover_image)})"}
  .event-header-content
    .event-date
      = @event.formatted_date
.event-body
  .event-description
    %h1= @event.name

    %p= @event.description
.bg-grey
  .event-body
    %h2 Friends

- unless @event.location.geojson.empty?
  #map{:data => {:geojson => @event.location.geojson}}

.event-body
  %h2 Gallery
.bg-grey
  .event-body
    %h2 Comments


