.event-header{style: "background-image: url(#{image_url(@event.cover_image)})"}
  .event-header-content
    .event-date
      = @event.formatted_date
.event-body
  .event-description
    %h1= @event.name

    %p= @event.description

#map

.event-body

