.event-header{style: "background-image: url(#{image_url(@event.cover_image)})"}
  .event-header-content
    .event-date
      = @event.formatted_date
.event-body
  .event-description
    %h1= @event.name

    %p= @event.description

- unless @event.locations
  #map{:data => {:lat => @event.locations.first.lat, :lng => @event.locations.first.lng, :name => @event.locations.first.name}}

.event-body

