.xdsoft_datetimepicker {
  border: 1px solid #ddd;
}
.xdsoft_datetimepicker .xdsoft_datepicker {
  width: auto;
}
.xdsoft_datetimepicker .xdsoft_calendar td,
.xdsoft_datetimepicker .xdsoft_calendar th {
  padding: 20px;
  text-align: center;
}
.xdsoft_datetimepicker .xdsoft_label {
  z-index: 99;
}