.form-wrapper {
  @include outer-container($small-container);
  padding: 80px 20px;
}
input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
textarea,
select {
  border: 1px solid #e6e6e6;
  padding: 15px;
  border-radius: 3px;
  outline: none;
  width: 100%;
  display: block;
}
input[type="checkbox"]{
  margin-right: 10px;
}
input[type="submit"]{
  margin-top: 20px;
}
select {
  display: inline-block;
  width: auto;
  background: #fff;
}
textarea {
  min-height: 200px;
}
select {
  -webkit-appearance: none;
}
label {
  display: block;
  font-family: $heading-font;
  margin-bottom: 5px;
  margin-top: 20px;
}

.thumbnail {
  max-width: 200px;
}

.error {
  color: #ff0000;
  padding: 10px 0 0;
  display: inline-block;
}

.card-form {
  padding-top: 60px;
  label {
    font-size: em(24);
    margin-bottom: 20px;
    color: $grey;
    font-weight: 300;
  }
}

#save-button {
  display: block;
  margin: 80px auto 0;
  font-size: em(18);
  padding: 15px 50px;
}