.form-wrapper {
  @include span-columns(8);
  @include shift(2);
}
input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
textarea,
select {
  border: 1px solid #ddd;
  padding: 12px 10px;
  border-radius: 3px;
  outline: none;
  width: 100%;
  display: block;
}
input[type="checkbox"]{
  margin-right: 10px;
}
input[type="submit"]{
  margin-top: 20px;
}
select {
  display: inline-block;
  width: auto;
  background: #fff;
}
textarea {
  min-height: 200px;
}
select {
  -webkit-appearance: none;
}
label {
  display: block;
  font-family: $heading-font;
  margin-bottom: 5px;
  margin-top: 20px;
}

.thumbnail {
  max-width: 200px;
}

.error {
  color: #ff0000;
  padding: 10px 0 0;
  display: inline-block;
}