$container-width: 1140px;
$basefont: 16;
$menu-width: 260px;

$body-font: 'chaparral-pro', serif;
$heading-font: 'futura-pt', sans-serif;

$black: #333;
$grey: #555;
$light-grey: #e8e8e8;

$ease-out: cubic-bezier(0.215, 0.610, 0.355, 1.000);

@function em($target, $context: $basefont) {
  @return ($target / $context) * 1em;
}