$container-width: 1140px;
$basefont: 16;

$body-font: 'chaparral-pro', serif;
$heading-font: 'futura-pt', sans-serif;

$black: #333;
$grey: #555;

@function em($target, $context: $basefont) {
  @return ($target / $context) * 1em;
}